# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Packages
*.egg
*.egg-info/
dist/
build/

development_venv/
venv/

# Editor directories
.vscode/
.idea/

```env
DATABASE_URL=your_database_url
SECRET_KEY=your_secret_key
