
[Desktop Entry]
Version=1.0
Name=HyCAN
Comment=Hydrogen Catalyst and Nanomaterials Platform
Exec=hycan
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Science;Utility;
