argparse
autogluon
black
dash
flake8
flask
grpcio
grpcio-tools
joblib
numpy
opencv-contrib-python
opencv-python
pandas
plotly
pytest
pytest-automock
pyyaml
scikit-learn
torch
transformers
xaitk-saliency
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
